<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @work_order.category %>
</p>

<p>
  <b>Description:</b>
  <%= @work_order.description %>
</p>

<p>
  <b>Due:</b>
  <%= @work_order.due %>
</p>

<p>
  <b>Status:</b>
  <%= @work_order.status %>
</p>


<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
